@media (max-width: 576px) {
  .container {
    padding: 0 20px !important;
  }

  .nav-link-custom::after {
    position: absolute;
    right: 0;
    top: 12px;
  }

  .dropdown .dropdown-menu {
    border: none;
  }

  .dropdown .dropdown-menu li .dropdown-item {
    background-color: transparent !important;
  }

  .dropdown .dropdown-menu li:first-child {
    margin-top: 15px;
  }

  .dropdown .dropdown-menu li:last-child {
    margin-bottom: 15px;
  }
}

.nav-link-custom {
  color: #191b1e !important;
}

.nav-link-custom:hover {
  opacity: 0.8;
  color: #32343a;
}

.nav-link-custom::after {
  content: '';
  margin-left: 10px;
  width: 8px;
  height: 8px;
  border-style: solid;
  border-color: #191b1e;
  border-width: 1px 1px 0 0;
  transform: rotate(135deg);
}

.dropdown .dropdown-menu {
  -webkit-transition: all 0.3s;
  -moz-transition: all 0.3s;
  -o-transition: all 0.3s;
  transition: all 0.3s;

  max-height: 0;
  overflow: hidden;
  opacity: 0;
  padding: 0;
  margin: 0;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.dropdown.show .dropdown-menu {
  max-height: 200px;
  opacity: 1;
}

.dropdown .dropdown-menu li {
  width: 100%;
  text-align: center;
  font-family: 'Avenir Next', sans-serif;
  letter-spacing: 0.7px;
}

*:focus {
  outline: none;
}

.carousel-inner {
  height: 100%;
}

.carousel-inner .carousel-item {
  height: 100%;
}

.carousel-inner .carousel-item img {
  position: absolute;
}

.carousel-inner .carousel-item .carousel-caption {
  top: 50%;
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
  color: #1a1b1f;
  height: fit-content;
}

.carousel-indicators li {
  background-color: #1a1b1f;
}

.carousel-control-prev, .carousel-control-next {
  background-color: #ffffff;
}

.carousel-control-prev-icon {
  background-image: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' fill='%23000' viewBox='0 0 8 8'%3E%3Cpath d='M5.25 0l-4 4 4 4 1.5-1.5-2.5-2.5 2.5-2.5-1.5-1.5z'/%3E%3C/svg%3E") !important;
}

.carousel-control-next-icon {
  background-image: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' fill='%23000' viewBox='0 0 8 8'%3E%3Cpath d='M2.75 0l-1.5 1.5 2.5 2.5-2.5 2.5 1.5 1.5 4-4-4-4z'/%3E%3C/svg%3E") !important;
}
